extends ../partials/layout

block content
  header
  .row
    aside
      nav
        ul
          li
            a(href='#') Link
          li
            a(href='#') Link
    section
      article box
      article box
      article box
  footer