extends layout

block content
	.container(ng-app="AppUsers")
		h1 Users
		p= message
		.col-xs-3(ng-controller="usersController")
			a(href="/logout") Logout
			table.table.table-bordered.table-striped
				tr
					th Username
					th 
				tr(ng-repeat="user in users")
					td {{ user.username }}
					td
						.btn-group
							button.btn.btn-primary(type="button") Action
							button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown")
								span.caret
							ul.dropdown-menu(role="menu")
								li
									a(href="#") Edit
								li
									a(href="#") Delete
